@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa',Sans-Serif, cursive;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #20b2aa;
}
nav{
    height: 10vh;
    width: 100%;
    background: rgba(250,250,250,0.1);
}
nav>ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
nav>ul>li{
    list-style-type: none;
    margin: auto auto;
}
nav>ul>li>a{
    text-decoration: none;
    color: white;
    background: black;
    font-size: 1.25em;
    padding: 10px 20px;
    border-radius: 15px;
    margin: auto auto;
    box-shadow: 0px 0px 10px black;
    transition: 0.3s all;
}
nav>ul>li>a::hover{
    text-decoration: none;
    color: black;
    background: white;
    font-size: 1.3em;
    padding: 10px 20px;
    border-radius: 15px;
    margin: auto auto;
    box-shadow: 0px 0px 10px white;
    transform: scale(1.1);
}
.changecolor{
    text-decoration: none;
    color: white;
    background: black;
    font-size: 1.75em;
    padding: 10px 20px;
    border-radius: 15px;
    margin: auto auto;
    box-shadow: 0px 0px 10px black;
    transition: 0.3s all;
}
.changecolor::focus{
    text-decoration: none;
    color: black;
    background: white;
    font-size: 1.75em;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px white;
    transform: scale(1.1);
}
.main{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.colorname{
    height: 50px;
    width: 150px;
    background: red;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
}
.colorinput{
    padding: 10px 20px;
    background-color: rgba(220,220,220,0.3);
    margin: auto auto;
    backdrop-filter: blur(5px);
    border-bottom: 2px solid #20b2aa;
}
::placeholder {
    color: black;
}